/* Enter your custom styles here */
.bgB {
    background-color: #6699ff !important;
}

.bgO {
    background-color: #ff7f00 !important;
}

.bgP {
    background-color: #ffe5e5 !important;
}

.bgR {
    background-color: #ff0000 !important;
}

.bgY {
    background-color: #f8f6c3 !important;
}

.bgD {
    background-color: #eecf09 !important;
}